
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model ShopBaby.Data.Model.Product
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Create</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Base" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item"><a asp-controller="Product" asp-action="Index">Product</a></li>
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- right column -->
                <div class="col-md-8">
                    <!-- general form elements disabled -->
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Create Products</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form role="form" asp-controller="Product" asp-action="Create" method="post" enctype="multipart/form-data">
                                <!-- text input -->
                                <div class="form-group">
                                    <label asp-for="Name">Tên Danh Mục</label>
                                    <input asp-for="Name" type="text" class="form-control" placeholder="Enter ...">
                                    <span asp-validation-for="Name"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Price">Giá gốc</label>
                                    <input asp-for="Price" type="number" class="form-control">
                                    <span asp-validation-for="Price"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PromotionPrice">Giá khuyến mãi</label>
                                    <input asp-for="PromotionPrice" type="number" class="form-control">
                                    <span asp-validation-for="PromotionPrice"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Quantity">Số lượng</label>
                                    <input asp-for="Quantity" type="number" class="form-control">
                                    <span asp-validation-for="Quantity"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Warranty">Bảo hành</label>
                                    <input asp-for="Warranty" type="number" class="form-control">(tháng)
                                    <span asp-validation-for="Warranty"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Image">Hình ảnh</label>
                                    <input asp-for="Image" type="file" class="form-control" name="singleFile">
                                    <span asp-validation-for="Image"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MoreImages">Hình ảnh</label>
                                    <input asp-for="MoreImages" type="file" name="files" multiple class="form-control">
                                    <span asp-validation-for="MoreImages"></span>
                                </div>
                                <div class="form-group">
                                    <label>Mô tả ngắn</label>
                                    <input asp-for="Description" type="text" class="form-control" placeholder="Enter ...">
                                    <span asp-validation-for="Description"></span>
                                </div>
                                <!-- select -->
                                <div class="form-group">
                                    @*<label asp-for="CategoryID">Danh mục cha</label>*@
                                    @Html.LabelFor(model => model.CategoryID, "Danh mục cha")
                                    @Html.DropDownListFor(model => model.CategoryID, new SelectList(ViewBag.list, "ID", "Name"), "Choose", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CategoryID)
                                </div>
                                <div class="form-group">
                                    <label asp-for="MetaKeyword">Meta Keyword</label>
                                    <input asp-for="MetaKeyword" type="text" class="form-control" placeholder="Enter ...">
                                    <span asp-validation-for="MetaKeyword"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MetaDescription">Meta Description</label>
                                    <textarea asp-for="MetaDescription" id="metaDescription" class="form-control" placeholder="Enter ..."></textarea>
                                    <span asp-validation-for="MetaDescription"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="HotFlag" value="true" /> Sản phẩm Hot
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="HomeFlag" value="true" /> Sản phẩm phổ biến
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success pull-right">Lưu</button>
                                    <a class="btn btn-default pull-right" asp-controller="Product" asp-action="Index">Huỷ</a>
                                </div>

                            </form>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
