@model IEnumerable<ShopBaby.Data.Model.ProductCategory>
@{
    ViewData["Title"] = "Category";
    Layout = null;
}
<div class="header">
    <div class="top-nav navbar navbar-default">
        <!--header-three-->
        <div class="container">
            <nav class="navbar" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav top-nav-info">
                        <li><a asp-action="Index" asp-controller="Home" class="active">Home</a></li>
                        @foreach (var item in Model)
                        {
                        <li class="dropdown grid">
                            @if (item.ParentID == null)
                            {
                                <a asp-controller="Home" asp-action="GetCategory" asp-route-id="@item.ID" class="dropdown-toggle list1" data-toggle="dropdown">@item.Name<b class="caret"></b></a>

                            }
                            <ul class="dropdown-menu multi-column multi-column2">
                                <div class="row">
                                    <div class="col-sm-3 menu-grids">
                                        <ul class="multi-column-dropdown">
                                            @foreach (var menu2 in Model)
                                            {
                                                @if (menu2.ParentID != null && item.ID == menu2.ParentID)
                                                {
                                                    <li><a asp-route-id="@menu2.ID" asp-action="Index" asp-controller="Product">@menu2.Name</a></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </ul>
                        </li>
                        }
                    </ul>
                    <div class="clearfix"> </div>
                    <!--//navbar-collapse-->
                    <header class="cd-main-header">
                        <ul class="cd-header-buttons">
                            <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
                        </ul> <!-- cd-header-buttons -->
                    </header>
                </div>
                <!--//navbar-header-->
            </nav>
            <div id="cd-search" class="cd-search">
                <form>
                    <input type="search" placeholder="Search...">
                </form>
            </div>
        </div>
    </div>
</div>

