@model ShopBaby.Data.Model.ProductCategory
@using ShopBaby.Data.Model
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Create</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Base" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item"><a asp-controller="ProductCategory" asp-action="Index">Categories</a></li>
                        <li class="breadcrumb-item active">Update</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- right column -->
                <div class="col-md-8">
                    <!-- general form elements disabled -->
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Create Categories</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form role="form" asp-controller="ProductCategory" asp-action="Update" method="post">
                                <!-- text input -->
                                @Html.HiddenFor(m => Model.ID)
                                <div class="form-group">
                                    <label asp-for="Name">Tên Danh Mục</label>
                                    <input asp-for="Name" type="text" required class="form-control" placeholder="Enter ...">
                                    <span asp-validation-for="Name"></span>
                                </div>
                                <div class="form-group">
                                    @*<label asp-for="CategoryID">Danh mục cha</label>*@
                                    @Html.LabelFor(model => model.ParentID, "Danh mục cha")
                                    @Html.DropDownListFor(model => model.ParentID, new SelectList(ViewBag.list, "ID", "Name"), "Choose", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ParentID)
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-success pull-right">Lưu</button>
                                    <a class="btn btn-default pull-right" asp-controller="ProductCategory" asp-action="Index">Huỷ</a>
                                </div>
                            </form>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

