
<div class="header">
    <div class="top-header navbar navbar-default">
        <!--header-one-->
        <div class="container">
            <div class="nav navbar-nav wow fadeInLeft animated" data-wow-delay=".5s">
                <p>Welcome to Modern Shoppe <a asp-action="Index" asp-controller="Register">Register </a> Or <a asp-action="Index" asp-controller="Login">Sign In </a></p>
            </div>
            <div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated" data-wow-delay=".5s">
                <ul>
                    <li><a href="#"> </a></li>
                    <li><a href="#" class="pin"> </a></li>
                    <li><a href="#" class="in"> </a></li>
                    <li><a href="#" class="be"> </a></li>
                    <li><a href="#" class="you"> </a></li>
                    <li><a href="#" class="vimeo"> </a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="header-two navbar navbar-default">
        <!--header-two-->
        <div class="container">
            <div class="nav navbar-nav header-two-left">
                <ul>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>0938154066</li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="#">vutuantai72@gmail.com</a></li>

                </ul>
            </div>
            <div class="nav navbar-nav logo wow zoomIn animated" data-wow-delay=".7s">
                <h1><a asp-action="Index" asp-controller="Home">Modern <b>Shoppe</b><span class="tag">Everything for Kids world </span> </a></h1>
            </div>
            <div class="nav navbar-nav navbar-right header-two-right">
                <div class="header-right my-account">
                    <a asp-action="Index" asp-controller="Contact"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> CONTACT US</a>
                </div>
                <div class="header-right cart">
                    <a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                    <h4>
                        <a asp-controller="Cart" asp-action="Index">
                            <span class="simpleCart_total"> $0.00 </span> (<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 </span>)
                        </a>
                    </h4>
                    <div class="cart-box">
                        <p><a href="javascript:;" class="simpleCart_empty">Empty cart</a></p>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    @await Component.InvokeAsync("Category")
</div>