<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="http://localhost:56760" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/admin/plugins/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link href="~/lib/admin/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/lib/admin/plugins/ionicons/dist/ionicons.js"></script>
    <!-- Theme style -->
    <link href="~/lib/admin/css/adminlte.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        @Html.Partial("~/Areas/Admin/Views/Shared/_Header.cshtml")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="~/lib/admin/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">AdminLTE 3</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/lib/admin/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Alexander Pierce</a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-header">EXAMPLES</li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon 	fa fa-book"></i>
                                <p>
                                    Extras
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="ProductCategory" asp-action="Index" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Categories</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Product" asp-action="Index" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Products</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        @RenderBody()
        <!-- /.content-wrapper -->
        @Html.Partial("~/Areas/Admin/Views/Shared/_Footer.cshtml")

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/lib/admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/admin/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/lib/admin/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/lib/admin/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lib/admin/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/lib/admin/js/demo.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/adapters/jquery.js"></script>
    
    <script>
        $(function () {
            $("#example1").DataTable();
        });
        $("#metaDescription").ckeditor();
    </script>
</body>
</html>
